.igydusyagduygsagyudsadsa-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.igydusyagduygsagyudsadsa-container1 {
  flex: 0 0 auto;
  width: 757px;
  height: 468px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.igydusyagduygsagyudsadsa-link {
  display: contents;
}
.igydusyagduygsagyudsadsa-component {
  text-decoration: none;
}
.igydusyagduygsagyudsadsa-container2 {
  width: 636px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 329px;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-fiveunits);
  padding-left: 200px;
  padding-right: 274px;
  flex-direction: column;
}
